.swiper {
  width: 1160px;
  height: 220px;
}

.slide_img {
  background-image: url("../../../assets/images/slide1.jpg");
  background-repeat: no-repeat;
}
.banner1 {
  background-image: url("../../../assets/images/banner1.png");
  background-repeat: no-repeat;
}

.banner2 {
  background-image: url("../../../assets/images/banner2.png");
  background-repeat: no-repeat;
}
